/* Header */
.header-top {
  background-color: #006a31;
  color: #fff;
  padding: 5px;
}

.header-top p {
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.header-center {
  padding: 10px 0;
}

.header-center-left img {
  width: 150px;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
}

.search-form {
  height: 40px;
}

.search-input {
  padding: 1px 45px 1px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #dddddd;
}

.search-button {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #e23f58;
  color: white;
  cursor: pointer;
}

.delivery-info p {
  color: #e31837;
  font-weight: 600;
}

.icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ddd;
  position: relative;
  color: #006a31;
}
.custom-btn {
  background-color: #e31837;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}
.header-menu {
  background-color: #006a31;
}
.header-menu-des {
  display: flex;
  align-items: center;
  color: white;
}
.nav-item {
  padding: 5px;
}
.nav-item a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  opacity: 0.9;
}
.nav-item a:hover {
  opacity: 1;
  background-color: #e31837;
  color: white;
  border-radius: 5px;
}
.hero-section img {
  border-radius: 10px;
}
/* Danh Mục Nổi Bật */
b {
  font-family: lobster;
  color: #e31837;
  display: block;
  font-size: 20px;
}
.section-header a {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #006a31;
}
.section-header a:hover {
  transition: all 0.2s;
  color: #e31837;
}
.section-content {
  width: 225px;
  margin-right: 10px;
}
.category-item {
  width: 25%;
  margin-right: 10px;
}
.category-item:hover img {
  transform: scale(1.1);
  transition: all 0.8s linear;
}
.category-item a:hover {
  background-color: #e31837;
  color: #fff;
}
.category-item a {
  border-radius: 5px;
  padding: 10px;
  background-color: #006a31;
}
.category-item h3 {
  margin: 0 10px 0 0;
  color: #fff;
  font-size: 16px;
}
.category-item img {
  height: auto;
  position: relative;
  width: auto;
  transition: all 0.8s linear;
  max-width: 100px;
  max-height: 100%;
}
/* About Seaction */
.about-section {
  margin-top: 50px;
}
.section_image_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_image_about span {
  font-size: 20px;
  font-weight: 600;
  color: #e31837;
}
.section_image_about h3 {
  font-size: 40px;
  font-weight: 600;
  color: #006a31;
}
.section_image_about p {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #000;
}
.sub-image-about {
  width: 23%;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}
.sub-image-about img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
/* Swipper */
.about-section .section-body {
  margin-top: 30px;
  width: 100%;
  display: flex;
}
.about-section .section-body .mycard {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  border: 1px solid #e23f58;
}
/* Chương trình nổi bật */
.special-programs {
  margin-top: 50px;
}
.special-programs .section-header p {
  font-size: 20px;
  color: #e31837;
  font-weight: 600;
}
.special-programs .section-header h3 {
  font-size: 40px;
  color: #006a31;
  font-weight: 600;
}
.special-programs .section-body {
  margin-top: 20px;
}
.container-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-image .image {
  width: 25%;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #e23f58;
  margin-right: 10px;
}
.container-image image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}
/* Section Flashsale */
.flashsale-section {
  margin: 0 0 320px;
  padding: 50px 0 0;
  background-color: #006a31;
}
.flash-sale-title {
  color: #ffb200;
  display: block;
  font-size: 20px;
  font-family: "Lobster", sans-serif;
  font-weight: 600;
}
.flash-sale-discount {
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  z-index: 9;
  padding: 0;
  margin: 0 0;
  position: relative;
  display: block;
  color: #fff;
  font-weight: 700;
}
.flash-sale-description {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 40px;
  color: #fff;
}
.flash-sale-end {
  color: #fff;
}
.flash-sale-products {
  padding: 50px;
  border-radius: 15px;
  position: relative;
  bottom: -50%;
  background: #68ad88;
}
